# Ignore all files in SmartFlowerPot.sim/sim_1/behav/xsim

SmartFlowerPot.cache/

SmartFlowerPot.runs/

SmartFlowerPot.hw/

SmartFlowerPot.cache/wt/

SmartFlowerPot.sim/

SmartFlowerPot.ip_user_files/

SmartFlowerPot.sim/sim_1/behav/xsim/

SmartFlowerPot.cache/wt/project.wpc
SmartFlowerPot.hw/SmartFlowerPot.lpr
SmartFlowerPot.cache/wt/project.wpc
SmartFlowerPot.hw/SmartFlowerPot.lpr
SmartFlowerPot.hw/hw_1/hw.xml
SmartFlowerPot.ip_user_files/README.txt
SmartFlowerPot.cache/wt/project.wpc
SmartFlowerPot.cache/wt/project.wpc
SmartFlowerPot.hw/SmartFlowerPot.lpr
SmartFlowerPot.hw/SmartFlowerPot.lpr
